* {
    padding: 0%;
    margin: 0%;
}

body {
    height: 100vh;
    width: 100vw;
}


.container { 
    display: flex;
    height: 95vh;
    flex-direction: column;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* for debuggin */
    border: 1px solid black;
    height: 500px;
    width: 500px;
    margin: auto;
    padding: 8px;
    gap: 8px;
    background-color: black;
}

.display {
    height: 30%;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 44px;
    border: 3px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: black;
}

button:active {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.hint {
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: large;
}

footer {
    text-align: center;
    font-size: large;
}